html{
  text-align: center;
  font-family: Helvetica;
}

.header{
  background-image: url("media/the-flatiron-building.png");
  background-repeat: no-repeat;
  color: white;
  font-size: 40px;
  font-weight: bold;
}
a{
  color: white;
}
nav{
  font-size: 18px;
  font-weight: bold;
}
h2{
  font-size: 32px;
  font-weight: bold;
}
.section-title{
  font-size: 23px;
  font-weight: bold;
}
.description{
  font-size: 14px
}
div{
  display: run-in;
}
.bottom-header{
  background-image: url("media/the-flatiron-building.png");
  color: white;
  font-size: 23px;
}
