html{
  text-align: center;
  font-family: Helvetica;
}

.header{
  background-image: url("media/the-flatiron-building.png");
  color: white;
  font-size: 70px;
  font-weight: bold;
}
a{
  color: white;
}
nav{
  font-size: 18px;
  font-weight: normal;
}
